$no-color: #ffffff;
$menu-color: #1F2224;
$info-color: #505051;
$input-area-color: #34363B;
$social-color: #6A6A6C;
$p-color: #808182;
$menu-color: #1f2224;
// $submenu: #24272A;
$btn-color: #34A58E;
$btn-hover: #62CEB8;
$submenu: rgba(36,39,42,.98);